@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

Available streams:
<div id="streamList">
    <ul position="absolute">
    </ul>
</div>

<script src="~/lib/signalr/signalr.js"></script>

<script>
async function startAsync() {
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/stream", { logMessageContent: true, logger: signalR.LogLevel.Trace })
        .build();

    await connection.start();

    const streams = await connection.invoke("ListStreams");
    const list = document.getElementById('streamList');
    const listBody = list.getElementsByTagName('ul')[0];
    for (let i = 0; i < streams.length; i++) {
        const elem = document.createElement('li');
        elem.innerText = streams[i];
        listBody.appendChild(elem);
        // TODO: add link to watch stream
    }
}

startAsync();
</script>